/*@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Roboto&display=swap');
*{

  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  
}


html,body{
  width: 100vw;
  max-width: 100vw;
}


body{
  overflow-x: hidden;
  overflow-y: overlay;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border: 3.5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #AAAAAA;
}


.leftsection{
  flex-direction: column;
  align-items: center;
  position: fixed;
  display: flex;
  bottom:0px;
  left: 30px;
  z-index: 4;
  opacity: 0;
}
.leftsection::after {
  height: var(--afterheight, 0vh);
  background-color: #606079;
  color: #3b3b4d;
  margin-top: 20%;
  display: block;
  transition: 1s;
  content: "";
  float: left;
  left: -50px;
  width: 5%;
  bottom: 0;
}
.svg--icon {
  max-height: 50px;
  max-width: 50px;
  display: block;
  margin: 0 auto;
  height: 95%;
  width: 95%;
}  
.share {
  margin: -100% 0 0 0;
  opacity: inherit;
  fill: #49495a;
  transition: 1s;
  height: auto;
  float: left;
  width: 90%;
}  
.Github:hover{
transform: translateY(-5px);
fill: #6e5494;

} 
.Instagram:hover{
  transform: translateY(-5px);
  fill: url(#rg);
  }
.Linkedin:hover{
  transform: translateY(-5px);
  fill: #0e76a8;
}
.Codepen:hover{
  transform: translateY(-5px);
  fill: black;
}


.mainsection{
  margin: 0 0 0 10vw;
  width: 90%;
  float: left;
}
.Introduction{
  height: 100vh;
  width: 100%;
}





.Hello,.SE,.resume{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  margin-left: 40px;
  width: 100%;
  float: left;
}
.Hello{
  height: fit-content;
  margin-top: 25vh;
}
.Hello p{
  letter-spacing: -0.6vmin;
  font-size: clamp(10vmin, 10vmin, 75px);
  /*12vw*/
  color: #313131;
  font-weight: 750;
  line-height: 1;
  margin: 0;
}
.SE{
  letter-spacing: 0.5vh;
  position: relative;
  color: #868686;
  font-weight: 400;
  margin-top: 10px;
  transition: 1s;
  font-size: 3vh;
  opacity: 0;
}
.resume{
  margin-top: 30px;
  transition: 1s;
  opacity: 0;  
}
.resume a{
  padding:  8.712px 31.68px  8.712px 31.68px;
  /*box-shadow: 0px 1px 4px 0px #bb90ff;  */
  border:2px solid rgb(91, 23, 199);
  background-color: white;
  color: rgb(91, 23, 199);
  letter-spacing: 0.1375vh;
  border-radius: 4px;
  transition: 330ms;
  margin-left: 9px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  float: left;
}
.Resumedownload{
  color: inherit;
}
.resume a:hover {
  background: rgb(91, 23, 199);
  transform: translateY(-8px);
  color: white;
}


.About{
  position: relative;
  margin-bottom: 8vh;
  margin-top: 20vh;
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  opacity: 0;
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -ms-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}
.Skillslogo {  
  position: absolute;
  width: 100vw;
  margin-left: -10vw;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: Skillslogo;
  animation-duration: 3s;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}
.Skillslogo img{
  
  z-index: 1;
}
@keyframes Skillslogo{
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }    
}
.SELogo, .DESLogo{
  max-width: 100vw !important;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}
#Android,#Unity,#Idle,#Xcode,#Blender,#UX,#PS,#VS{
  overflow-x: hidden;
  position: absolute;
  height:auto; 
  opacity: 0.5;
}
#Android{
  transform: rotate(10deg);
  width: 19vmax;
  min-width: 220px;
  left: -100px;
  top:-280px;
}
#Xcode{
  transform: rotate(350deg);
  width: 17vmax;
  min-width: 200px;
  left: 10%;
  top: 47vmin;
}
#Idle{
  transform: rotate(10deg);
  width: 15vmax;
  min-width: 200px;
  left: 75%;
  top: -21vmin;
}
#Unity{
  transform: rotate(10deg);
  width: 18vmax;
  min-width: 240px;
  left: 82%;
  top:42.5vh;
}

#Blender{
  transform: rotate(10deg);
  width: 256px;
  min-width: 220px;
  left: 75%;
  top:35vh;
}
#UX{
  transform: rotate(355deg);
  width: 237px;
  min-width: 200px;
  left: -50px;
  top:50vh;
}
#PS{
  transform: rotate(5deg);
  width:239px;
  min-width: 200px;
  left: 87%;
  top:-278px;
}
#VS{
  transform: rotate(350deg);
  width: 219px;
  min-width: 246px;
  left: 10%;
  top: -350px;
}
.AboutContainer{
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  top: 30vh;
}




.Aboutback{
  position: absolute;
  width: 100%;
  z-index: 2;

}
.Aboutme{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: transform 0.5s ease-out;
  color:#ebebeb;
  letter-spacing: 0.7vmin;
  white-space: nowrap;
  margin:0 0 0 -20vmax;
  font-weight: 650;
  font-size: 21vmin;
  float: left;
  overflow-x: hidden;
}
.Aboutfront{
  position: absolute;
  margin-top: 14vmin;
  margin-left: 8vw;
  float: left;
  z-index: 3;
  width: 65%;
}
.aboutmedesc{
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.05vmin;
  color: #313131;
  font-size: 2.6vmin;
  line-height: 4.5vmin;
  font-weight: 450;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;

}



.Work{
  height: 580vh;
  margin-top: -10vh;
}
.Work_Right,.Work_Left{
  height: 100%;
  box-sizing: border-box;
  float: left;
  width: 45%;
  opacity: 1;
  z-index: 2;
}
.Work_Right{
  width: 55%;
  margin-top: 30vh;
}
.Work_Description{
  letter-spacing: -2.4px;
  box-sizing: border-box;
  position: sticky;
  transition: 1s;
  height: 100vh;
  float: left;
  width: 100%;
  z-index: 1;
  opacity: 0;
  top: 40px;
}
.AOS,.Fostership,.Perspective{
  position: relative;
  height: 160vh;
}
.AOS img, .Fostership img,.Perspective img{
  transition: transform 0.2s ease-out;  
}

#P1{
  position: absolute;
  width: 77%;
  min-width: 380px;
  height: auto;
  z-index: 4;
  top: 82%;
  left: 3%;
}
#P2{
  position: absolute;
  width: 65%;
  min-width: 320px;
  height: auto;
  z-index: 3;
  top: 80%;
  right:4% ;
}
#P3{
  position: absolute;
  width: 60%;
  min-width: 296px;
  height: auto;
  z-index: 2;
  top: 83%;
  left: 10%;
}
#P4{
  position: absolute;
  width: 50%;
  min-width: 246.7px;
  height: auto;
  top: 91%;
  right: 8%;
  z-index: 1;
}


#AOS1{
  position: absolute;
  width: 77%;
  min-width: 380px;
  height: auto;
  z-index: 4;
  top: 82%;
  left: 3%;
}
#AOS2{
  position: absolute;
  width: 65%;
  min-width: 320px;
  height: auto;
  z-index: 3;
  top: 80%;
  right:4% ;
}
#AOS3{
  position: absolute;
  width: 60%;
  min-width: 296px;
  height: auto;
  z-index: 2;
  top: 83%;
  left: 10%;
}
#AOS4{
  position: absolute;
  width: 50%;
  min-width: 246.7px;
  height: auto;
  top: 91%;
  right: 8%;
  z-index: 1;
}



#F1{
  position: absolute;
  width: 30%;
  min-width: 148.05px;
  height: auto;
  z-index: 2;
  top: 99%;
  left:15%;
}
#F2{
  position: absolute;
  width: 35%;
  min-width: 172.72px;
  height: auto;
  z-index: 3;
  top: 88%;
  right:10% ;
}
#F3{
  position: absolute;
  width: 39%;
  min-width: 192.46px;
  height: auto;
  z-index: 4;
  top: 84%;
  left: 3%;
}
#F5{
  position: absolute;
  width: 25%;
  min-width: 108.57px;
  height: auto;
  z-index: 1;
  top: 99%;
  right: 12%;
}

.ProjTitle,.ProjType,.ProjDesc,.ProjExtra,.Work_Description h2{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  float: left;
  height: fit-content;
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
.ProjExtra{
  display: inline-block;
  text-align: center;
  margin-top: 5vh;
}
.ProjExtra p{
  display: inline-block;
}
.ProjTitle p{
  font-family: 'Raleway',sans-serif;
  margin: 28% 0 0 0;
  color: #313131;
  font-weight: 700;
  font-size: calc(20px + 3.2vw);
  position: relative;
}
.ProjType p{
  font-family: 'Raleway',sans-serif;
  letter-spacing: -0.05vw;
  margin-bottom: 1%;
  color: #313131;
  font-weight: 500;
  margin-top: 5%;  
  font-size: calc(14px + 1.3vw);
  float: left;
  position: relative;
}
.ProjDesc p{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.05vw;
  font-weight: 300;
  line-height: 32px;
  color:#313131;
  margin-top: 0%;
  font-size: calc(16px + 0.7vw);
  position: relative;
}
.Projxtra{
  width: 80px;
  height: 80px;
  transition: 250ms;
  fill: #313131;
}
.Projxtra:hover{
  transform: translateY(-10px);
  fill: #6e5494;
}
/*
.Work,.Work_Description,.Work_Left,.Work_Right,.ProjTitle,.ProjType,.ProjDesc,.ProjExtra,.AOS,.Fostership,.Perspective{
  overflow: unset;
}
*/
.Contact{
  transition: opacity 0.6s ease-in-out;
  margin-right: 10vw;
  margin-top: -30vh;
  width:  80vw;
  height: 65vh;
  float: left;
  opacity: 0;
  align-items: center;
  text-align: center;
}
.ContactHeader{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: -0.3vh;
  color: #313131;
  font-weight: 700;
  font-size: 10vh;
  height: fit-content;
  margin: 0;
}
.ContactDes{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.3vh;
  font-size: 2.5vh;
  color: #868686;
  line-height: 1.4;
  font-weight: 400;
  width: 60%;
  margin: 10px auto 10px auto;
  
}
.Chat{
  margin-top: 50px;
  width: fit-content;
  height:fit-content;
  margin-left: auto;
  margin-right: auto;
}
.Chat a{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1.1vh 4vh 1.4vh 4vh;
  border-color: rgb(91, 23, 199);
  /*box-shadow: 0px 1px 4px 0px #bb90ff;*/
  background-color: white;
  color: rgb(91, 23, 199);
  border:2px solid rgb(91, 23, 199);
  letter-spacing: 1px;
  border-radius: 4px;
  transition: 300ms;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  float: left;

}
.Chat a:hover{
  background: rgb(91, 23, 199);
  color: white;
  transform: translateY(-8px);
}


.build{
  font-family: 'Raleway',sans-serif;
  color: #8b8686;;
  text-align: center;
  font-size: 15px;
  margin-bottom: 30px;
  letter-spacing: 0.1vh;
}

@media screen and (max-width: 768px) {
  .mainsection{
    width: 100%;
    margin: 0;
  }
  .Introduction{
    height: 90vh;
  }
  .Hello,.SE,.resume{
    margin-left: 0;
    float: unset;
    margin-right: auto;
    margin-left: auto;
    width: 85%;
  }


  /*About Section*/
  .Aboutfront{
    margin-left:100px;
    margin-top: 160px;
  }
  .Skillslogo{
    height: 100%;
    margin-left: 0;
  }
  #Android{
    transform: rotate(10deg);
    width: 39vmin;
    min-width: 263px;
    left: -120px;
    top: -320px;
  }
  #Xcode{
    width:  22vmax;
    min-width: 261px;
    left: -10%;
    top: 21vmin;
  }
  #Idle{
    transform: rotate(10deg);
    width: 15vmax;
    min-width: 218px;
    left: 83%;
    top: -21vmin;
  }
  #Unity{
    width: 18vmax;
    min-width: 265px;
    left: 80%;
    top: 42.5vh;
  }
  
  #Blender{
    transform: rotate(10deg);
    width: 39vmin;
    min-width: 263px;
    left: 75%;
    top: 50vh;  
  }
  #UX{
    transform: rotate(355deg);
    width: 22vmax;
    min-width: 261px;
    left: -18%;
    top: 30vh;
  }
  #PS{
    transform: rotate(5deg);
    width:15vmax;
    min-width: 218px;
    left: 83%;
    top: 0;
  }
  #VS{
    transform: rotate(350deg);
    width: 18vmax;
    min-width: 265px;
    left: -8%;
    top: -35vh;
  }
  .AboutContainer {
    top: 20vh;
  }


  .Aboutback{
    overflow-x: hidden;
  }

  .Aboutme{
    font-size: 150px;
    margin: 55px 0 0 -25vmax;
  }

  .aboutmedesc{
    line-height: 32px;
    font-size: 17px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .Aboutfront{
    width: 100%;
    margin: 0;
    margin-top: 160px;
  }
  .AboutContainer,.Skillslogo,.SELogo,.DESLogo{
    max-width: 100vw;
  }

  /*Work Section*/

  .Work{
  height: 500vh;
  }

  .Work_Right{
    width: 100%;
    height: 490vh;
    position: absolute;
    pointer-events: none; 
    
  }
  .Work_Left{
    width: 100%;
    height: 100%;
  }
  .AOS, .Fostership, .Perspective {
    height: 140vh;
  }
  
#P1{
  position: absolute;
  width:75vmin;
  min-width: unset;
  height: auto;
  z-index: 4;
  top: 82%;
  left: 3%;
}
#P2{
  position: absolute;
  width:65vmin;
  min-width: unset;
  height: auto;
  z-index: 3;
  top: 80%;
  right:4% ;
}
#P3{
  position: absolute;
  width:60vmin;
  min-width: unset;
  height: auto;
  z-index: 2;
  top: 83%;
  left: 10%;
}
#P4{
  position: absolute;
  width:50vmin;
  min-width: unset;
  height: auto;
  top: 91%;
  right: 8%;
  z-index: 1;
}


#AOS1{
  position: absolute;
  width:75vmin;
  min-width: unset;
  height: auto;
  z-index: 4;
  top: 82%;
  left: 3%;
}
#AOS2{
  position: absolute;
  width:65vmin;
  min-width: unset;
  height: auto;
  z-index: 3;
  top: 80%;
  right:4% ;
}
#AOS3{
  position: absolute;
  width:60vmin;
  min-width: unset;
  height: auto;
  z-index: 2;
  top: 83%;
  left: 10%;
}
#AOS4{
  position: absolute;
  width:50vmin;
  min-width: unset;
  height: auto;
  top: 91%;
  right: 8%;
  z-index: 1;
}

#F1{
  position: absolute;
  width:30vmin;
  min-width: unset;
  height: auto;
  z-index: 2;
  top: 99%;
  left:15%;
}
#F2{
  position: absolute;
  width:35vmin;
  min-width: unset;
  height: auto;
  z-index: 3;
  top: 88%;
  right:10% ;
}
#F3{
  position: absolute;
  width:39vmin;
  min-width: unset;
  height: auto;
  z-index: 4;
  top: 84%;
  left: 3%;
}
#F5{
  position: absolute;
  width:25vmin;
  min-width: unset;
  height: auto;
  z-index: 1;
  top: 99%;
  right: 12%;
}

  .Work_Description{
    top: 0px;
  }
  .ProjTitle, .ProjType, .ProjDesc, .ProjExtra{
    margin-left: 20px;
  }
  .ProjTitle, .ProjType, .ProjDesc, .Work_Description h2 {
    width:fit-content;
  }
  .ProjTitle p{
    margin: 50px 0 0 0;
    font-size: 11vmin;
  }
  .ProjDesc{
    width: 90%;
  }
  .ProjType p{
    font-size: 5vmin;
    margin: 3vmin 0 0 0;
  }
  .ProjDesc p{
    font-size: 3.3vmin;
  }
  .ProjExtra{
    margin-left: 0;
  }
  .Projxtra{
    width: 12vmin;
    height: 12vmin;
 
  }
   /*Contact Section*/
  .Contact{
    margin-top: 0;
    margin-bottom: 7vh;
    height: 40vh; 
    width: 100%;
  }
  .Contact p{
    margin-left: auto;
    margin-right: auto;
  }
  .ContactHeader{
    font-size: calc(55px + 0.5vmin);
  }
  .ContactDes{
    width: 70%;
    font-size: calc(10px + 1vmin);
  }


  /*leftsection*/
  .leftsection{
    flex-direction: row;
    align-items: center;
    position: relative;
    display: flex;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    left: 0;
  }
  .leftsection::after {
    height:0;
    margin: 0;
    content: "";
    left: 0;
    width: 0%;
  }
  .build{
    margin-bottom: 9vh;
  }

}

@media screen and (max-width: 480px) {
   /*Introduction Section*/
  .SE{
    font-size: 4.5vmin;
  }
  .resume{
    margin-top: 7vmin;
    
  }
  .resume a{
    padding: 1.5vmin 5vmin 1.5vmin 5vmin;
    font-size: clamp(12px,4vmin,16px);
  }
  .About{
    margin-top: 0;
    height: 95vh;
  }
  .AboutContainer{
    top: 16vh;
  }


  .Aboutme {
    font-size: 95px;
    margin: 95px 0 0 -20vmax;
    letter-spacing: -0.7vmin;
    visibility: hidden;
  }
  .aboutmedesc{
    font-size: 16px;
    width: 80%;
    line-height: 29px;
  }
  #Android{
    transform: rotate(10deg);
    width: 39vmin;
    min-width:239px;
    left: -130px;
    top: -220px;
  }
  #Xcode{

    width: 22vmax;
    min-width: 229px;
    left: -25%;
    top: 65vmin;
  }
  #Idle{
    transform: rotate(10deg);
    width: 15vmax;
    min-width: 196px;
    left: 35vh;
    top: 0%;
  }
  #Unity{

    width: 18vmax;
    min-width: 242px;
    left: 35vh;
    top: 49vh;
  }
  
  #Blender{
    transform: rotate(10deg);
    width: 39vmin;
    min-width: 263px;
    left: 32vh;
    top: 53vh;
  }
  #UX{
    transform: rotate(355deg);
    width: 22vmax;
    min-width: 211px;
    left: -30%;
    top: 30vh;
  }
  #PS{
    transform: rotate(5deg);
    width: 15vmax;
    min-width: 186px;
    left:35vh;
    top: 5vh;

  }
  #VS{
    transform: rotate(350deg);
    width: 18vmax;
    min-width: 209px;
    left: -20%;
    top: -25.5vh;
  }
   /*Work Section*/
   .Work_Right{
    height: 32vh;
   }
   .Work_Left{
    height: 100%;
   }

  .AOS, .Fostership, .Perspective {
    height: 145vh;
  }
   #P1{
    width: 88vmin;
    left: 2%;
    top: 82%;
  }
  #P2{
    width: 74vmin;
    right: 4%;
    top: 75%;
  }
  #P3{
    width: 65vmin;
    left: 3%;
    top: 75%;
  }
  #P4{
    width: 50vmin;
    right: 8%;
    top: 80%;
  }

  #AOS1{
    width: 88vmin;
    left: 2%;
    top: 82%;
  }
  #AOS2{
    width: 74vmin;
    right: 4%;
    top: 75%;
  }
  #AOS3{
    width: 65vmin;
    left: 3%;
    top: 75%;
  }
  #AOS4{
    width: 50vmin;
    right: 8%;
    top: 80%;
  }
  #F1{
    width: 38vmin;
    left: 10%;
    top: 85%;
  }
  #F2{
    width: 43vmin;
    right: 4%;
    top: 83%;;
  }
  #F3{
    width: 45vmin;
    left: 3%;
    top: 79%;
  }
  #F5{
    width: 34vmin;
    right: 7%;
    top: 85%;
  }
  .ProjDesc p{
    line-height: unset;
  }

  /*Contact Section*/
  .Contact{
    height: 50vh;
    margin-top: -10vh;
    margin-bottom: 0;
  }
  .ContactHeader{
    font-size: 12vmin;
  }
  .ContactDes{
    font-size: 3.6vmin;
  }

  
  /*leftsection*/
   .svg--icon{
    max-width: 43px;
  }
}

@media screen and (max-width: 320px) {


  /*About Section*/
  .aboutmedesc{
    font-size: 5vw;
  }
  #Blender {
    min-width: 263px;
    left: 25vh;
    top: 55vh;
  }
  #UX {
    min-width: 208px;
    left: -20vh;
    top: 30vh;
  }
  #PS {
    min-width: 186px;
    left: 33vh;
    top: 20vmin;
  }
  #VS {
    min-width: 209px;
    left: -28%;
    top: -25.5vh;
  }
  #Android {
      left: -130px;
      top: -210px;
  }
  #Unity{
    left: 30vh;
    top: 49vh;
  }
  #Idle {
    left: 30vh;
    top: 0;
  }
  #Xcode {
    left: -35%;
    top: 45vmin;
  }

.leftsection{
  width: 90%;
}
}